In [2]:
import pandas as pd
import numpy as np

In [5]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [6]:
!wget $data

--2025-10-03 03:25:22--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv.1’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.03s

2025-10-03 03:25:22 (32.7 MB/s) - ‘car_fuel_efficiency.csv.1’ saved [874188/874188]

In [7]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [8]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
pd.__version__

'2.3.1'

In [10]:
df.shape[0]

9704

In [11]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [12]:
df['fuel_type'].nunique()

2

In [13]:
df['fuel_type'].isnull().sum()

np.int64(0)

In [14]:
asian_cars = df[df['origin'] == 'Asia']
max_mpg_asia = asian_cars['fuel_efficiency_mpg'].max()
max_mpg_asia

np.float64(23.759122836520497)

In [15]:
median_before = df['horsepower'].median()
median_before

np.float64(149.0)

In [16]:
most_frequent = df['horsepower'].mode()
most_frequent

0    152.0
Name: horsepower, dtype: float64

In [17]:
df['horsepower_filled'] = df['horsepower'].fillna(most_frequent)

In [18]:
median_after = df['horsepower_filled'].median()
median_after

np.float64(149.0)

In [19]:
selected_columns = asian_cars[['vehicle_weight', 'model_year']]
selected_columns

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [20]:
first_7 = selected_columns.head(7)
first_7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019